numpy==1.18.1; python_version == '3.7'
numba==0.48.0; python_version == '3.7'
PyQt5==5.14.1; python_version == '3.7'
pyqtgraph==0.10.0; python_version == '3.7'
vispy==0.6.4; python_version == '3.7'
matplotlib==3.1.2; python_version == '3.7'
PyOpenGL==3.1.5; python_version == '3.7'
